.blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
    margin: 0 50px;
}

@media screen and (max-width:768px) {
    .blog{
       
        grid-template-columns: repeat(1,1fr);
        
        margin: 0 50px;
    }
}









