
.main-container{
    display: flex;
    
}
.body-left{
    width: 80%;
    padding: 20px;
}
.excerciseHading{
    text-transform: uppercase;
    color: rgb(210, 140, 10);
}
.ExerciseDetails{
    position: sticky;
    top:0;
    right: 0;
    width: 30%;
    margin-left: 20px;
    background: cadetblue;
    padding: 20px;
    
}

.carts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:15px;
   
}





